In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/motogp-riders-2024-performance-dataset/RidersSummary.csv

### Import the libraries

In [20]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

### Load the Dataset

In [21]:
df=pd.read_csv('/kaggle/input/motogp-riders-2024-performance-dataset/RidersSummary.csv')

### Show first 5 rows of dataset

In [22]:
df.head()

,bike_number,rider_name,class,season,home_country,motorcycle,team,races_participated,wins,podium,pole,fastest_lap,points,placed,world_championships
0,1,Jorge Martin,Moto3,2015,Spain,Mahindra,Mapfre Team Mahindra,18,0,0,0,0,45,17,0
1,1,Jorge Martin,Moto3,2016,Spain,Mahindra,Pull & Bear Aspar Mahindra Team,16,0,1,0,0,72,16,0
2,1,Jorge Martin,Moto3,2017,Spain,Honda,Del Conca Gresini Moto3,16,1,9,9,2,196,4,0
3,1,Jorge Martin,Moto3,2018,Spain,Honda,Del Conca Gresini Moto3,17,7,10,11,3,260,1,1
4,1,Jorge Martin,Moto2,2019,Spain,KTM,Red Bull KTM Ajo,19,0,2,0,1,94,11,0

### Check the null value in dataset

In [23]:
df.isnull().sum()

bike_number            0
rider_name             0
class                  0
season                 0
home_country           0
motorcycle             0
team                   0
races_participated     0
wins                   0
podium                 0
pole                   0
fastest_lap            0
points                 0
placed                 0
world_championships    0
dtype: int64

### Check the datatype of each column

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   bike_number          274 non-null    int64
 1   rider_name           274 non-null    object
 2   class                274 non-null    object
 3   season               274 non-null    int64
 4   home_country         274 non-null    object
 5   motorcycle           274 non-null    object
 6   team                 274 non-null    object
 7   races_participated   274 non-null    int64
 8   wins                 274 non-null    int64
 9   podium               274 non-null    int64
 10  pole                 274 non-null    int64
 11  fastest_lap          274 non-null    int64
 12  points               274 non-null    int64
 13  placed               274 non-null    int64
 14  world_championships  274 non-null    int64
dtypes: int64(10), object(5)
memory usage: 32.2+ KB

### Define features (X) and target (y)

In [25]:
X = df.drop(columns=['points'])
y = df['points']

### Convert categorical variables to numerical (one-hot encoding)

In [26]:
X = pd.get_dummies(X, drop_first=True)

### Train-test split (80-20)

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

### Define models

In [27]:
models = {
    "SVM": SVR(),
    "Decision Tree": DecisionTreeRegressor(random_state=42),
    "Random Forest": RandomForestRegressor(n_estimators=100, random_state=42)
}

### Train and evaluate models

In [28]:
results = {}
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    
    mse = mean_squared_error(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    
    results[name] = {"MSE": mse, "MAE": mae, "R2": r2}

### Display results

In [29]:
results_df = pd.DataFrame(results)
print(results_df)

              SVM  Decision Tree  Random Forest
MSE  14747.835307    1196.909091     620.591229
MAE     91.814490      23.745455      17.234545
R2      -0.078976       0.912432       0.954597